.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* Универсальный класс ставим на любой элемент
и мы его вскрываем но его видно если зайти через браузер в код на ссыдку Accessibility */
  /* display: none; - если мы все удалим и пропишем эту функция заголовок будет скрыт полностью */
}
