body {
  margin: 0;
  padding: 0;
  /* Скидываем все отступы */

  font-family: "PT Sans Narrow", Arial, sans-serif;
  /* Вставляем для шрифта который мы применили в index.html, Arial это веб безопасный шрифт,  */

  font-size: 14px;
  /* Размер всего шрифта */
  line-height: 24px;
  /* Межстрочный интервал */
  font-weight: 700;
  /* Вест текаста в данном случае полу жирный */
  color: #fff;
  text-transform: uppercase;
  /* весь шрифт заглавный */

  background-color: #000;
  background-image: url("../img/bg.jpg");
  /* Не всегда получается утсановить фон у меня не получилось */
  /* background-position: top center; */
  background-repeat: round;
  /* функция аосторения фоновой картинки no-repeat без повторений по  центру */
  /* background-size: cover; */
}

a {
  text-decoration: none;
  /* Убираем нижнее подчеркивание сылки у всего документа */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* Универсальный класс ставим на любой элемент
и мы его вскрываем но его видно если зайти через браузер в код на ссылку Accessibility */
  /* display: none; - если мы все удалим и пропишем эту функция заголовок будет скрыт полностью */
}

.button {
  font: inherit;
  /* Наследование то что задано к всему тексту будет и применятся */

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgb(90, 63, 164);
}

.main-navigation {
  /* Верхняя навигационная панель */
  font-size: 16px;
  line-height: 20px;
  color: #fff;

  background-color: #000;
}

.site-navigation,
.user-navigation {
  list-style: none;
  /* Отключаем булиты белые кружочки */
}

.site-navigation a,
.user-navigation a {
  color: #fff;
  /* Задаям ссылкам белый цвет */
  padding: 20px;
  /* При наведении выперало немного */
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  /*  :hover при навидении курсива, a:focus при клике */
  background-color: rgba(193, 158, 158, 0.469);
}

.features-list {
  list-style: none;
  /* Отключаем булиты */
}

.features-item {
  text-align: center;
  /* Центрируем весь текст */
}

.features-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  color: #000;

  background-color: #f7f4f1;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  /* Позиция горизонтали и вертикали */
  background-repeat: repeat;
  /* фоновое изображение repeat будетт дублироваться */
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #ccc;
  border: 7px solid #fff;
  width: 30%;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  /* Прозрачность */
  border: 2px solid #000;
}

.main-footer {
  color: #fff;

  background-color: #222222;
  background-image: url(../img/Footer.png);
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
  /* при навидении убирается подчеркивание */
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #fff;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000;

  background-color: #fff;
}
